<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <megabank_payment>
                <active>0</active>
                <enable_log>1</enable_log>
                <title>Mega Bank Payment</title>
                <allowspecific>0</allowspecific>
                <environment>production</environment>
                <language>ru</language>
                <description><![CDATA[Purchase of goods in the store.]]></description>
                <model>MegaBank\Payment\Model\Payment</model>
                <payment_action>authorize_capture</payment_action>
                <close_day>
                    <close_cron_expr>0 23 * * *</close_cron_expr>
                </close_day>
                <api>
                    <certificate backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                    <key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                </api>
            </megabank_payment>
        </payment>
    </default>
</config>
